html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

#top {
  /*border: 1px solid black;*/
  width: 100%;
  height: 150px;
  text-align: center;
  padding: 20px;
}

.box1 {
/*border: 1px solid black;*/
  display:inline-block;
  height:125px;
  width: 30%;
  background: red;
}
.box2 {
    /*border: 1px solid black;*/
    display:inline-block;
    height:125px;
    width: 30%;
    background: blue;
    margin: 0 15px 0 15px;
}
.box3 {
    /*border: 1px solid black;*/
    display:inline-block;
    height:125px;
    width: 30%;
    background: grey;
}

#lorem {
  /*border: 1px solid black;*/
  font-size: 21.1px;
  margin-top: 10px;
}

#mid {
  /*border: 1px solid black;*/
  height: 310px;
  width: 100%;
  margin-top: 70px;
}

.left-box {
  /*border: 1px solid black;*/
    float: left;
    height:100%;
    width: 30%;
    background: red;
}

.right-box {
  /*border: 1px solid black;*/
    float:left;
    height:100%;
    width: 70%;
    background: blue;
}

#bottom-cont {
  width: 100%;
  height: 125px;
  background: blue;
  margin-top: 30px;
}

.skinny1 {
  height: 100%;
  width: 5%;
  float: right;
  background: red;
}

.little-mid {
  height: 100%;
  width: 20%;
  float: right;
  background: grey;
}

.skinny2 {
  height: 100%;
  width: 5%;
  float: right;
  background: red;
}
